@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-inline: auto;
    overflow-x: scroll;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    position: relative;
    margin-inline: auto;
    height: 500px;
}

.image-container {
    width: fit-content;
}

img {
    filter: grayscale(var(--after-filter, 100%));
    z-index: -1;
    max-width: 60rem;
}

.win img {
    animation: grayscale-animation 800ms infinite ease-in-out;
}

@keyframes grayscale-animation {
    0% {
        filter: grayscale(20%);
    }
    50% {
        filter: grayscale(50%);
    }
    100% {
        filter: saturate(120%);
    }
}

h1 {
    font-size: 2.25rem;
    text-align: center;
}

.win h1 {
    color: rgb(148, 156, 255);
    filter: saturate(120%);
}

#display {
    color: rgba(255, 255, 255, 0.842);
    font-size: 1.75rem;
    font-weight: 700;
    text-align: center;
}
  
.win #display {
    color: rgb(108, 118, 255);
    filter: saturate(120%);
    animation: blink-1 1500ms infinite both;
}

@-webkit-keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  @keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }

.game-container {
    width: 28rem;
    height: fit-content;
    position: absolute;
    top: 0rem;
    right: 2rem;
    padding-block: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.842);
    background-color: rgba(86, 86, 86, 0.708);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border: 8px solid rgba(0, 0, 0, 0.688);
    border-radius: 1rem;
    box-shadow: 2px 7px 20px 2px rgba(0, 0, 0, 0.6);
-webkit-box-shadow: 2px 7px 20px 5px rgba(0, 0, 0, 0.6);
-moz-box-shadow: 2px 7px 20px 2px rgba(0, 0, 0, 0.6);
z-index: 1000;

}

.win .game-container {
    background-color: rgba(210, 210, 210, 0.708);
    border-color: rgb(148, 156, 255);
    box-shadow: 2px 7px 20px 5px rgb(148, 156, 255);
    -webkit-box-shadow: rgb(148, 156, 255);
    -moz-box-shadow: 2px 7px 20px 5px rgb(148, 156, 255);
    z-index: 1000;
}

.wiz-emoji {
    opacity: 0;
    transition: opacity 2.5s ease-in-out;
}

.win .wiz-emoji {
    opacity: 1;
}

h1,
p,
input {
    margin-bottom: 2rem;
}

input {
    height: 3.25rem;
    width: 20rem;
    background-color: transparent;
    font-size: 2rem;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: .5rem;
    text-align: center;
    box-shadow: 2px 7px 13px 2px rgba(0, 0, 0, 0.747);
    -webkit-box-shadow: 0px 4px 1px 2px rgba(0, 0, 0, 0.747);
    -moz-box-shadow: 2px 7px 13px 2px rgba(0, 0, 0, 0.747);
}

input::placeholder {
    color: rgba(255, 255, 255, 0.33);
    font-size: clamp(1.25rem, -1.0238rem + 7.619vw, 1.5rem);

}

.win input {
    color: rgb(148, 156, 255);
    border-color: rgb(148, 156, 255);
    box-shadow: 2px 7px 13px 2px rgb(148, 156, 255);
    -webkit-box-shadow: 0px 4px 1px 2px rgb(148, 156, 255);
    -moz-box-shadow: 2px 7px 13px 2px rgb(148, 156, 255);
}

input:focus {
    outline: 2px solid rgb(0, 0, 0);
    border: 0px;
    border-radius: 0.5rem;
}

.win input:focus {
    outline: 2px solid rgb(148, 156, 255);
}

button {
    padding: .5rem 1rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 200ms;
    background-color: transparent;
    border: 3px solid rgb(0, 0, 0);
    margin-inline: .5rem;
    color: rgba(255, 255, 255, 0.842);
    margin-top: 1rem;
    box-shadow: 2px 7px 13px 2px rgba(0, 0, 0, 0.513);
    -webkit-box-shadow: 0px 4px 1px 2px rgba(0, 0, 0, 0.93);
    -moz-box-shadow: 2px 7px 13px 2px rgba(0, 0, 0, 0.513);
}

.win button {
    border: 3px solid rgb(148, 156, 255);;
    color: rgb(148, 156, 255);
    box-shadow: 2px 7px 13px 2px rgb(148, 156, 255);;
    -webkit-box-shadow: 0px 4px 1px 2px rgb(148, 156, 255);;
    -moz-box-shadow: 2px 7px 13px 2px rgb(148, 156, 255);;
}

button:hover,
button:focus {
    background-color: rgb(0, 0, 0);
    border-color: transparent;
}

.win button:hover,
.win button:focus {
    color: rgba(210, 210, 210, 0.708);
    background-color: rgb(148, 156, 255);
}

.buttons {
    text-align: center;
}

.how-to-play {
    z-index: 1;
}

.how-to-play p {
    position: absolute;
    top: -4.5rem;
    right: 3rem;
    padding: .5rem;
    border: 2px solid black;
    border-radius: .5rem; 
    background-color: transparent;
    color: rgba(86, 86, 86, 0.708);
    font-size: 1.15rem;
     box-shadow: 0px 4px 1px 2px rgba(31, 31, 31, 0.93);
    -webkit-box-shadow: 0px 4px 1px 2px rgba(31, 31, 31, 0.93);
    -moz-box-shadow: 0px 4px 1px 2px rgba(31, 31, 31, 0.93);
}

.win .how-to-play p {
    color: rgb(148, 156, 255);
    border-color: rgb(148, 156, 255);
    box-shadow: 0px 4px 1px 2px rgb(148, 156, 255);
    -webkit-box-shadow: 0px 4px 1px 2px rgb(148, 156, 255);
    -moz-box-shadow: 0px 4px 1px 2px rgb(148, 156, 255);
}

.how-to-play p:first-child, .win .how-to-play p:first-child {
    position: absolute;
    right: 30.75rem;
    top: 4.75rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: .5rem;
    border: none;
    box-shadow: none;
    transition: all 0.2s ease-in-out;
    font-weight: 700;
    z-index: 1;
}

.how-to-play p:first-child:hover {
    animation-play-state: paused;
}

.pulsate-bck {
	-webkit-animation: pulsate-bck 1s ease-in-out 600ms infinite both;
	animation: pulsate-bck 1s ease-in-out 600ms infinite both;
}

@-webkit-keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }



/* Instructions */
.instructions-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: 1000;   
}

.instructions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.instructions {
    background-color: rgba(255, 255, 255, 0.897);
    width: 45%;
    padding: 1.5rem;
    line-height: 1.8;
    filter: grayscale(100%);
    border-radius: 1rem;
    box-shadow: 2px 7px 20px 5px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 2px 7px 30px 5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 2px 7px 20px 5px rgba(0, 0, 0, 0.6);
}

.slide-in-fwd-top {
	-webkit-animation: slide-in-fwd-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-fwd-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
  
@-webkit-keyframes slide-in-fwd-top {
    0% {
      -webkit-transform: translateZ(-1400px) translateY(-800px);
              transform: translateZ(-1400px) translateY(-800px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-fwd-top {
    0% {
      -webkit-transform: translateZ(-1400px) translateY(-800px);
              transform: translateZ(-1400px) translateY(-800px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  

.instructions p {
    margin-bottom: .25rem;
}

.instructions-center {
    text-align: center;
    font-weight: 500;
    font-size: 1.75rem;
}

.totem-overlay, .totem {
    display: none;
}


/* Mobile Responsiveness */
@media screen and (max-width:425px) {
    img {
        transform: translateX(-1rem);
    }

    .game-container {
        width: 100%;
        height: 20%;
        top: 19rem;
        z-index: 1;
        left: 0;
    }

    #display {
        font-size: 1.5rem;
        text-align: start;
        position: absolute;
        top: 1rem;
        left: 2.5rem;
        width: 45%;
    }

    input {
        position: absolute;
        top: 1.5rem;
        width: 5rem;
        height: 4.75rem;
        right: 2.5rem;
    }

    input::placeholder {
       color: transparent;
    }

    button {
        position: absolute;
        font-size: 2rem;
        background-color: black;
        top: 10rem;
    }

    .win button {
        background-color: gray;
    }

    .play-btn {
        left: 0rem;
    }

    .restart-btn {
        right: 0rem;
    }

    .how-to-play p{
        font-size: clamp(1rem, 18px, 1.5rem);
        width: 90vw;
        right: 0;
        text-align: center;
        top: 1rem;
    }

    .how-to-play p:first-child {
        display: none;
    }

    .totem {
        top: 0;
        font-size: 10rem;
    }

}

@media screen and (min-width:461px) and (max-width:960px) {
    .game-container {
        width: 50%;
        top: 17%;
        right: -1.5rem;
    }

    img {
        transform: translateX(-1.5rem);
    }

    .how-to-play p {
        top: 5rem;
        right: 0;
        font-size: 1rem;
    }

    .totem {
        font-size: 20rem;
        top: 8rem;
        left: 3rem;      
    }

    input {
        width: 90%;
        margin-left: 1rem;
    }
}

@media screen and (max-width:960px) {
    body {
        position: relative;
    }

    .main-container {
        max-width: 90vw;
        display: block;
        padding-inline: 0;
        height: 800px;
    }

    .game-container {
        padding-inline: .75rem;
    }

    img {
        max-width: 100vw;
        margin-top: 5rem;
    }
    
    h1 ,
    .wiz-emoji,
    .how-to-play p:first-child {
        display: none;
    }

    
   .instructions-center {
        font-size: 1.5rem;
        font-weight: 700;
   }

    .instructions {
        font-size: 1rem;
        width: 80%;
        margin-right: 1rem;
        text-align: center;
        line-height: 2;
    }

    .sad-emoji {
        font-size: 8vw !important;
    }

    .totem-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(60, 63, 102, 0.714);
        backdrop-filter: blur(40px);
        -webkit-backdrop-filter: blur(40px);
        z-index: 2;
        -webkit-animation: slide-in-fwd-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	    animation: slide-in-fwd-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        
    }

    .totem-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .totem {
        position: absolute;
        text-align: center;
        display: block;
        
    }

}



